// Couleurs
$primary-color: #98cae1;
$secondary-color: white;
$text-color: #333;
$hover-color: #1e90ff;
$text-light-color: black;
$text-dark-color: white;

// Polices
$font-family: 'Arial', sans-serif;
$font-weight-links:600;

// Marges et espacements
$padding-header: 10px 0;
$gap-small: 5px;
$gap-medium: 15px;
$gap-large: 20px;

// Tailles
$logo-height: 30px;
$overlay-font-size: 125px;
$header-height: 50px;
$min-header-height: 50px;

// Titres
$title-font-family: 'Bebas Neue', sans-serif;
$title-color: #000000;
$title-height:2.5rem;

// Paragraphes
$p-font-size:24px;

// Boutons
$button-width: 170px;
$button-radius: 30px;
$button-font-size: 20px;
$button-bg-color: #d9d9d9;

// Champs
$input-radius: 8px;

