@import '_variables';

.page-about {
  display: flex;
  flex-direction: row; // Par défaut, les sections sont côte à côte
  height: auto;

  .left-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-section {
    background-color: $primary-color;

    .text-container {
      width: auto;
      max-width: 600px; // Ajout d’une largeur maximale pour éviter un trop grand étirement
      text-align: center;

      h1 {
        font-size: $title-height;
        font-family: $title-font-family;
        color: $title-color;
        margin-bottom: 20px;
      }

      .paragraph-container {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: left;

        p {
          font-size: 1rem; // Utilisation d'unités relatives
          line-height: 1.6;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .right-section {
    flex: 1; // Prend tout l'espace disponible à droite
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: 100%; // Garde les proportions de l'image
      object-fit: cover; // S'assure que l'image s'adapte bien
    }
  }
}

.footer-container{
  background-color: white;
  .copyright {
    border-top: 1px solid black;
  }
}
