@use 'variables' as *;
@use 'sass:color';

// Page de connexion
.page-connexion {
  display: flex;
  height: calc(100vh - #{$header-height});
  max-height: calc(100vh - #{$min-header-height});

  // Section gauche
  .left-section {
    background-color: $secondary-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h1 {
      font-size: $title-height;
      font-family: $title-font-family;
      color: $title-color;
      margin-bottom: 20px;
    }

    .error-message {
      color: #ff4d4d;
      font-size: 0.875rem;
      margin-top: 3px;
      margin-bottom: 3px;
      background-color: #ffe6e6;
      padding: 5px;
      border-radius: 5px;
      width: 100%;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      align-items: center; // Centre tout le contenu horizontalement

      label {
        margin-bottom: 10px;
        font-size: 1rem;
        color: $text-light-color;
        align-self: flex-start; // Aligne les labels à gauche
      }

      input {
        width: 100%; // Champs prennent toute la largeur disponible
        padding: 10px;
        margin-bottom: 15px;
        border: 1.5px solid black;
        border-radius: $input-radius;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-color: color.scale($secondary-color, $lightness: 10%);
        }
      }

      button {
        padding: 10px 20px;
        background-color: $primary-color;
        color: $text-dark-color;
        border: none;
        border-radius: $button-radius;
        cursor: pointer;
        width: $button-width;
        margin-top: 15px;
        font-size: $button-font-size;

        &:hover {
          background-color: color.scale($secondary-color, $lightness: -10%);
        }
      }
    }
  }

  // Section droite
  .right-section {
    background-color: $primary-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; // Centre verticalement
    align-items: center; // Centre horizontalement
    text-align: center;
    color: $text-light-color;

    h1 {
      font-size: $title-height;
      margin-bottom: 20px;
    }

    p {
      margin: 40px 0;
      font-size: $p-font-size;
      line-height: 1.5;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      background-color: $secondary-color;
      color: $text-light-color;
      text-decoration: none;
      border-radius: $button-radius;
      width: $button-width;
      font-size: $button-font-size;

      &:hover {
        background-color: color.scale($primary-color, $lightness: 10%);
      }
    }
  }
}
