@use "variables" as *;
@use "sass:color";

// Assurez-vous que la hauteur de la page prend en compte la hauteur du header
.page-inscription {
  display: flex;
  flex-wrap: wrap; // Permet aux sections de se réorganiser sur les petits écrans
  height: calc(100vh - #{$header-height});
  max-height: calc(100vh - #{$min-header-height});
  overflow: auto;

  // Section gauche
  .left-section {
    background-color: $primary-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

    h1 {
      font-size: $title-height;
      font-family: $title-font-family;
      color: $title-color;
      margin-bottom: 20px;
    }

    p {
      font-size: $p-font-size;
      line-height: 1.6;
      margin: 40px 0;
      color: $text-light-color;
    }

    a {
      padding: 12px 24px;
      background-color: $secondary-color;
      color: $text-light-color;
      text-decoration: none;
      border-radius: $button-radius;
      font-size: $button-font-size;
      transition: background-color 0.3s;

      &:hover {
        background-color: color.scale($primary-color, $lightness: 10%);
      }
    }
  }

  // Section droite
  .right-section {
    background-color: $secondary-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .error-message {
      color: #ff4d4d;
      font-size: 1rem;
      margin: 10px 0;
      padding: 10px;
      background-color: #ffe6e6;
      border: 1px solid #ff4d4d;
      border-radius: 5px;
      width: 100%;
      text-align: center;
    }

    h1 {
      font-size: $title-height;
      font-family: $title-font-family;
      color: $title-color;
      margin-bottom: 20px;
    }

    h2 {
      font-family: $title-font-family;
      color: $title-color;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 600px;

      label {
        display: block;
        margin-bottom: 5px;
        font-size: 1rem;
        color: $text-light-color;
      }

      .error-message {
        color: #ff4d4d;
        font-size: 0.875rem;
        margin-top: 3px;
        margin-bottom: 3px;
        display: none;
        background-color: #ffe6e6;
        padding: 5px;
        border-radius: 5px;
      }

      .error-message.active {
        display: block;
      }

      input {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1.5px solid color.scale($secondary-color, $lightness: -10%);
        border-radius: $input-radius;
        font-size: 1rem;
        color: $text-light-color;
        background-color: color.scale($secondary-color, $lightness: 20%);
        transition: border-color 0.3s;

        &:focus {
          outline: none;
          border-color: color.scale($primary-color, $lightness: 20%);
        }
      }

      button {
        padding: 12px 24px;
        background-color: $primary-color;
        color: $text-dark-color;
        border: none;
        border-radius: $button-radius;
        cursor: pointer;
        font-size: $button-font-size;
        text-align: center;
        transition: background-color 0.3s;

        &:hover {
          background-color: color.scale($primary-color, $lightness: -10%);
        }
      }

      .form-group {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        width: 100%;
      }

      .input-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
          font-size: 1rem;
          color: $text-light-color;
          margin-bottom: 5px;
        }

        input {
          padding: 12px;
          border-radius: $input-radius;
          border: 1.5px solid color.scale($secondary-color, $lightness: -10%);
          font-size: 1rem;
          color: $text-light-color;
          background-color: color.scale($secondary-color, $lightness: 20%);
          transition: border-color 0.3s;

          &:focus {
            outline: none;
            border-color: color.scale($primary-color, $lightness: 20%);
          }
        }

        .error-message {
          color: #ff4d4d;
          font-size: 0.875rem;
          margin-top: 3px;
          margin-bottom: 3px;
          display: none;
          background-color: #ffe6e6;
          padding: 5px;
          border-radius: 5px;
        }

        .error-message.active {
          display: block;
        }
      }

      // Champs de formulaire pour les petits écrans
      .input-wrapper#street,
      .input-wrapper#houseNumber,
      .input-wrapper#letterBox {
        width: 100%;
        flex: 1;
      }

      .input-wrapper#postalCode,
      .input-wrapper#location,
      .input-wrapper#country {
        width: 100%;
        flex: 1;
      }

      .input-wrapper.full-width {
        width: 100%;
      }
    }
  }

  // Media query pour les petits écrans
  @media (max-width: 768px) {
    .page-inscription {
      flex-direction: column;
    }

    .left-section, .right-section {
      flex: 1 1 100%;
      padding: 10px;
    }

    .form-group {
      flex-direction: column;
    }

    .input-wrapper {
      width: 100%;
    }

    .form-group {
      gap: 10px;
    }
  }
}