@use 'variables' as *;
@use 'sass:color';

// Reset global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}



// Tout les liens
a {
    color: $text-color;
    text-decoration: none;
    font-weight: $font-weight-links;
    font-size: 1rem;

    &:hover {
        text-decoration: underline;
    }
}

// Header
header {
    background-color: #fff;
    padding: $padding-header;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: $header-height;
    min-height: $min-header-height;
    margin-bottom: 1px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        flex-wrap: wrap; // Permet de réorganiser les éléments sur petits écrans

        .left-section {
            display: flex;
            align-items: center;
            gap: $gap-large;

            #logo {
                height: $logo-height;
            }

            .nav-links {
                display: flex;
                gap: $gap-large;
                position: relative;
                flex-wrap: wrap; // Permet d'ajuster les liens de manière flexible
            }
        }

        .right-section {
            display: flex;
            align-items: center;
            gap: $gap-medium;
            flex-wrap: wrap; // Permet de réorganiser les éléments en fonction de la taille

            .language-section {
                display: flex;
                align-items: center;
                gap: $gap-small;

                img {
                    height: 20px;
                    border-radius: 3px;
                }
            }

            .cart-icon {
                font-size: 1.2rem;
                color: $text-color;
                text-decoration: none;

                &:hover {
                    color: $hover-color;
                }
            }

            // Burger menu pour petits écrans
            .burger-menu {
                display: none;
                cursor: pointer;

                .burger-bar {
                    width: 30px;
                    height: 4px;
                    background-color: $text-color;
                    margin: 6px 0;
                    transition: 0.3s;
                }
            }
        }
    }
}

// Footer
.footer-container {
    background-color: $primary-color;

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap-large;
        padding: 20px 0;
    }

    .copyright {
        padding: 1% 0 3% 15%;
        border-top: 1px solid white;
        font-weight: $font-weight-links;
    }
}

/* Conteneur du menu déroulant */
#dropdownMenu {
    display: none; // Masquer le menu par défaut
    position: absolute;
    top: 100%; // Placer le menu juste en dessous du lien
    left: 25%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 24px; // Espacement entre le lien et le menu
    border-radius: 5px;
    padding: 5px 0;
    border: 1px solid #ddd; // Bordure du menu pour mieux le délimiter
    opacity: 0; // Commence invisible
    visibility: hidden; // Commence caché
    transition: opacity 0.3s, visibility 0.3s ease;
}

/* Lorsque la classe 'show' est ajoutée, rendre le menu visible */
#dropdownMenu.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

#dropdownMenu a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    background-color: #fff;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #ddd;
    }
}

/* Media Queries pour rendre le header plus responsive */
@media (max-width: 1024px) {
    .header-container {
        padding: 0 10px;
    }

    .right-section {
        .cart-icon {
            font-size: 1rem;
        }

        .language-section {
            display: none; // Masque la section de langue sur petits écrans
        }
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px;
        height: auto;
    }

    .header-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .left-section,
    .right-section {
        width: 100%;
        justify-content: space-between;
    }

    .burger-menu {
        display: block; // Affiche le menu burger sur petits écrans
    }


    .cart-icon {
        font-size: 1.5rem;
    }

    .language-section {
        display: none; // Cache la section de langue
    }
}
