@use 'variables' as *;
@use 'sass:color';

// Section image container
.image-container {
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

// Section collaborations
.collaborations {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    .collaborations-img {
        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 20px;
        }
    }

    .title {
        font-size: $title-height;
        font-weight: bold;
        text-align: left;
        font-family: $title-font-family;
        padding: 5% 0;
    }
}
